[Unit]
Description=Go Git Service
After=network.target

[Service]
Type=simple
RuntimeDirectory=gogs
RuntimeDirectoryMode=775
WorkingDirectory=/var/lib/git
ExecStart=/opt/go/bin/gogs web --config /etc/gogs/app.ini
Restart=always
User=git
Group=git
Environment=USER=git HOME=/var/lib/git

[Install]
WantedBy=multi-user.target
